/* FOR ABOUT PAGE */

main {
  margin: 5rem 7rem;
}

.text {
  text-indent: 2rem;
  margin: 1rem 2rem 1rem 2rem;
  line-height: 2rem;
  padding: 1rem 5rem 1rem;
  font-size: 23px;
}

/* style for the expandable question */
.accordion {
  background-color: #f67599;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 10px;
  border-radius: 2rem;
}

/* hidding the text on panel */

.panel {
  /* display: none; */
  padding: 1rem 3rem 2rem;
}

/* background color change when clicked or hovered */
.accordion.active,
.accordion:hover {
  background-color: rgb(230 20 74);
}

/* styling text from answers */

ul {
  list-style: none;
}

.start {
  text-indent: 2rem;
  padding: 0 2rem;
  margin: 1rem 2rem 2rem;
  line-height: 2rem;
  font-size: 18px;
}

h3 {
  margin-left: 2rem;
  font-size: 20px;
}

.website {
  text-decoration: underline;
}

.question p {
  text-indent: 4rem;
}

.nostart {
  text-indent: 0rem;
  padding: 0 2rem;
  margin: 1rem 2rem 2rem;
  line-height: 2rem;
  font-size: 18px;
}

@media (max-width: 600px) {
  main {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  body {
    padding: 1.5rem;
  }

  .photo img {
    width: 20rem;
    padding: 1rem;
  }
  .accordion {
    margin-right: 2rem;
    font-size: 15px;
    max-width: 15rem;
  }
  h3 {
    font-size: 15px;
    margin-left: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .panel p {
    font-size: 15px;
  }
  .start {
    font-size: 15px;
    margin-left: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 0rem;
    text-indent: 0rem;
    line-height: normal;
    padding: 0rem;
  }

  .nostart {
    font-size: 15px;
    margin-left: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 0rem;
    text-indent: 0rem;
    line-height: normal;
    padding: 0rem;
  }
}
