/* FOR HOME PAGE */

main {
  margin: 5rem 7rem;
}

/* adding line to nav to show where the user is */

nav .links-items:nth-child(1)::after {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  background-color: rgb(255, 205, 0);
  margin-top: -0.7rem;
}

/* styling of the main picture on the home page */
.snow img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
  justify-content: center;
  display: block;
  border-radius: 0.3rem;
  padding-bottom: 3rem;
  padding-top: -10rem;
}

/* .about {
  font-family: "Oswald", sans-serif;
  color: #00acff;
  font-size: 35px;
  margin-bottom: 1rem;
  padding: 2rem;
  width: 28rem;
} */

.text {
  text-indent: 2rem;
  margin: 1rem 1rem 1rem 1rem;
  line-height: 2rem;
  padding: 1rem 2rem 1rem;
  font-size: 23px;
}
.greeting {
  margin: 1rem 1rem 1rem 1rem;
  line-height: 2rem;
  padding: 1rem 1rem -1rem;
  font-size: 23px;
}

@media (max-width: 600px) {
  .snow img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    padding: auto;
  }

  body {
    padding: 1.5rem;
  }

  main {
    margin: 0;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 0.5rem;

    padding: 1rem;
    width: 8rem;
  }

  .text {
    text-indent: 1rem;
    margin: 1rem 3rem 1rem 3rem;
    line-height: 1.5rem;
    padding: 0rem;
    font-size: 15px;
  }
}
