/* FOR ALL PAGES */

body {
  padding: 70px;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: Bw Modelica SS01, sans-serif;
}

/* footer {
  left: 0;
  bottom: 0;
  margin-top: 2rem;
  width: 100%;
} */

a {
  color: inherit;
  text-decoration: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 45px;
  /* top: 0;  top: 0, so that the nav bar stays on the top */
  background-color: white;
  border-radius: 0.5rem;
  padding: 0rem 0rem;
  padding-bottom: -1rem;
  margin-top: 0.5rem;
  color: #3f2a56;
}
nav .links {
  display: flex;
  padding: 1.5rem 1rem;
  justify-content: center;
  margin-right: 1rem;
}

nav .links {
  gap: 2rem;
}

nav .links-items:hover {
  background-color: rgb(255, 205, 0);
  border-radius: 1rem;
  cursor: pointer;
}

.links p {
  padding: 10px;
  font-weight: 800;
}

.logo {
  padding-left: 1rem;
}

#mobile-menu-btn {
  display: none;
}
.mobile-menu {
  color: white;
  display: none;
  position: absolute;
  right: 0;
  height: 60vh;
  width: 70vw;
  background-color: #3f2a56;
  font-weight: 800;
  font-size: x-large;
}

@media (max-width: 600px) {
  #mobile-menu-btn {
    display: block;
  }
  nav p {
    display: none;
  }
  .mobile-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    margin: 1rem 2rem 0;
  }
  nav .links-items:hover {
    background-color: rgb(255, 205, 0);
    border-radius: 1rem;
    cursor: pointer;
  }

  footer {
    font-size: 0.8rem;
  }
}
